@page "/ContactUs"


 <div class="contact-info">
        <div>
            <i class="fa-solid fa-phone"></i>
            <p>+1 (555) 123-4567</p>
        </div>
        <div>
            <i class="fa-solid fa-mailbox"></i>
            <p>info@example.com</p>
        </div>
        <div>
            <i class="fas fa-map-marker-alt"></i>
            <p>123 Street Name, City, Country</p>
        </div>
    </div>