@model CreateProductViewModel


<h1>Yeni Ürün Oluştur</h1>

<form asp-action="Create" method="post" enctype="multipart/form-data">

    <div class="text-danger" asp-validation-summary="All"></div>

    <div class="mb-3">
        <label asp-for="Name" class="form-label"></label>
        <input asp-for="Name" class="form-control" />
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>

    <div class="mb-3">
        <label asp-for="Price" class="form-label"></label>
        <input asp-for="Price" class="form-control" />
        <span asp-validation-for="Price" class="text-danger"></span>
    </div>

    <div class="mb-3">
        <label asp-for="Stock" class="form-label"></label>
        <input asp-for="Stock" class="form-control" />
        <span asp-validation-for="Stock" class="text-danger"></span>
    </div>

    <div class="mb-3">
        <label asp-for="Description" class="form-label"></label>
        <textarea asp-for="Description" class="form-control"></textarea>
        <span asp-validation-for="Description" class="text-danger"></span>
    </div>

    <!-- Kategori Seçimi -->
    <div class="mb-3">
        <label class="form-label">Kategori</label>
        <select asp-for="CategoryId" class="form-control" asp-items="@ViewBag.CategorySelectList">
            <option value="">Kategori Seçiniz</option>
        </select>
        <span asp-validation-for="CategoryId" class="text-danger"></span>
    </div>

    <div class="mb-3">
        <label asp-for="ImageFile" class="form-label">Ürün Resmi</label>
        <input asp-for="ImageFile" type="file" class="form-control" accept="image/*" />
        <span asp-validation-for="ImageFile" class="text-danger"></span>
    </div>

    <button type="submit" class="btn btn-primary">Kaydet</button>
</form>
